/* Home.css */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-item h2 {
  margin-top: 0;
}

.add-movie {
  margin-top: 20px;
}

.add-movie h2 {
  margin-bottom: 10px;
}

.add-movie input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-movie button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-movie button:hover {
  background-color: #0056b3;
}
